<h1>About</h1>
<h3>Connecting people </h3>
<p>On Y, the whole world is connected. News, debates, connecting with friends—you have it all on Y.</p>
<p>Founded in 2008, Y was a revolutionary way to connect the world and its ideas. No matter if you were famous or not, everyone had the same voice and the same right to be heard. </p>
